<!DOCTYPE html>
<html lang="en-us">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover"> 
    <title>
      Glass Curtain X {{ piece.offerer }}
    </title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/ppage.css') }}">
  </head>

  <body>
    <h1>Glass Curtain</h1>
    <h2>{{ piece.name }}</h2>
    <div class="card">
      <article>
        <p class="box1"> <img src = {{ piece.image_url1 }}>
        <p class="box2">
          <div class=quote>
            <strong>
              <strong>
            {{ piece.quote }}<br>
          </strong>
          </strong>
          </div>
          <i> - {{ piece.quoted }}<br> </i>
        <strong>Offered by</strong>: {{ piece.offerer }}<br>
        <strong>Dimensions</strong>: {{ piece.dimensions }}<br>
        <strong>Materials</strong>: {{ piece.materials }}<br>
        <strong>Category</strong>: {{ piece.category }}<br>
        <strong>Price</strong>: {{ piece.price }}<br></p> 
      </article>
    </div>
    <footer draggable="false">
      <div class="footer-content" draggable="false">
        <a href="/">Back to Gallery</a> 
        <a class="nostyle" class="footer_inner" href="/checkout" draggable="false">Place a bid</a>
      </div>
  </footer>
  </body>
</html>