html {
    height:100vh;
    width: 100vw;
    margin: 0rem;
    overflow: hidden;
    font-family: 'Helvetica neue', Arial, 'sans serif';
    font-size: 19px;
    align-items: center;
    font-weight:lighter;
    color: rgba(255, 255, 255, 0.801);
  }


/* Colourful waves */
body {
    background: linear-gradient(-45deg, #ee5c52, #e73c7e, #23a5d5, #23d5ab65);
    background-size: 400% 400%;
    animation: gradient 60s infinite;
    height: 40%;
} 
  
@keyframes gradient {
    0% {
        background-position: 0% 50%;
    } 
    50% {
        background-position: 100% 50%;
    } 
    100% {
        background-position: 0% 50%;
    }
}

#image-track > .image{
    width:40vmin;
    height: 56vmin;
    object-fit: cover;
    object-position: 100% 50%;
    border-radius: 10px;
    box-shadow: 0 30px 30px rgba(0, 0, 0, 0.437);
    border: 3px solid rgba(255, 255, 255, 0.799);
    opacity: 0.8;
}

#image-track {
    display: flex;
    gap: 4vmin;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(0%, -50%);
}

h1 {
    font-size: 4em;
    opacity: 0.9;
}

a.nostyle:link {
    font-size: 1.5em;
    color: rgba(255, 255, 255, 0.801);
    text-decoration:underline;
    color: inherit;
    cursor: auto;
}

a.nostyle:visited {
    color: rgba(255, 255, 255, 0.801);
    text-decoration: inherit;
    color: inherit;
    cursor: auto;
}

a.nostyle:hover {
    color: rgb(255, 255, 255);
}

#name-track > .name, a:link{
    font-size: 1.5em;
    width:40vmin;
    max-height: 1vmin;
    object-fit: cover;
    object-position: 0% 100%;
    opacity: 0.8;
}

#name-track {
    align-self: top;    
    display: flex;
    gap: 4vmin;
    position: absolute;
    left: 50%;
    top: 18%;
    transform: translate(0%, -140%);
    /* border: 3px solid rgba(255, 255, 255, 0.799); */

}

footer{
    position: absolute;
    text-align: center;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(17, 17, 17, 0);
    height: 2em;
    width: 100vw;
    padding-bottom: 1em;
    color: rgba(255, 255, 255, 0.801);
}

.footer-content {
    display:flex;
    gap: 4em;
    align-items: center;
    justify-content: center;
    text-align: center;
}

