  
html {
  height:100vh;
  width: 100vw;
  margin: 0rem;
  overflow: hidden;
  font-family: 'Helvetica neue', Arial, 'sans serif';
  font-size: 19px;
  font-weight: lighter;
  font-stretch:ultra-expanded;
  color: rgba(255, 255, 255, 0.801);
}
  
 /* Colourful waves */
body {
  background: linear-gradient(-45deg, #ee5c52, #e73c7e, #23a5d5, #23d5ab65);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
}  
@keyframes gradient {
  0% {
      background-position: 0% 50%;
  } 
    50% {
      background-position: 100% 50%;
  } 
    100% {
      background-position: 0% 50%;
  }
}

/* footer */
footer{
  position: absolute;
  text-align: center;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(17, 17, 17, 0);
  height: 2em;
  width: 100vw;
  padding-bottom: 1em;
  color: rgba(255, 255, 255, 0.801);
}
.footer-content {
  display:flex;
  gap: 4em;
  align-items: center;
  justify-content: center;
  text-align: center;
}

/* HTML Elements */

h1 {
  margin: 0em;
  font-size: 4em;
  opacity: 0.5;
  padding-bottom: 0em;
}
  
h2 {
    margin-top: 0em;
    margin-left: 3em;
    line-height: normal;
    text-align: center;
    font-size: 4em;
    padding-top: 0em;
    margin-block-start: 0em;
    margin-block-end: 0em;
    opacity: 0.8;
}

/* card container */
.card {
  display:grid;
  grid-template-rows: 1fr 1fr;
  /* vertical-align: middle; */
  width: 90%;
  height: 45vmax;  
  

  margin-top: 0em;
  margin-bottom: 2em;
  margin-left: 5%;
  margin-right: 5%;

  border: 1px solid rgba(255, 255, 255, 0.481);
  border-radius: 16px;
  background-color: rgba(255, 255, 255, .15);
  box-shadow: 0 30px 30px rgba(0, 0, 0, 0.26);
}
.card article .box {
  display:flexbox 0 0 50%;
  box-sizing: border-box;
  /* height: 30vh;
  width:70vmin;
  height: 75vmin; */
}


.card article p {
  align-content: flex-start;
  padding-top: 1.5em;
  margin-left: 10%;
  margin-top: 0em;
}
img {
  min-width:60vmin;
  height: 60vmin;
  object-fit: cover;
  border-radius: 16px;
  opacity:0.8;
  margin-left: 5%;
  margin-right: 5%
} 

  
  a {
    color: rgba(255, 255, 255, 0.801);
  }
  a:hover{
    color: rgba(255, 255, 255, 1);
  }


/* Mobile (up to 450 px) */
/*     
  @media only screen and (max-width: 450px) {
  html {
      font-family: 'Helvetica neue', Arial, 'sans serif';
      font-size: 15px;
      align-items: center;
      font-weight: lighter;
      font-stretch:ultra-expanded;
      color: rgba(255, 255, 255, 0.801);
  }
  
  h1, h2 {
    min-width: 330px;
    text-align: center;
    padding-bottom: 0em;
    padding-top: 0em;
  }
  .card article {
    height: 12em;
    padding-left: 0em;
    padding-top: 0%;
}
  
  .card {
      width: 50%;
      min-width: 400px;
      max-width: 1200px;
      height: 600px;
      margin: 1em auto;
      box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
      border: 1px solid rgba(255, 255, 255, 0.145);
      border-radius: 16px;
      background-color: rgba(255, 255, 255, .15);
      backdrop-filter: blur(100px);
  }
  
  .card article .box {
    text-align: center;
    margin: 1em 1em;
    padding-top: 2em;
    padding-bottom: 2em;
    min-height: 100%;
    opacity: 0.9;
    border-radius: 16px;
    border: 1px solid rgba(255, 255, 255, 0.145);
  }


  

  .card article p {
    padding-top: 1.5em;
    margin-left: 10%;
    margin-top: 0em;
  }
  
  footer p {
    font-size: 1.5em;
    text-align: center;
    line-height:normal;
  }
  
  .card footer {
    margin-top: 10.4em;
    background-image: linear-gradient(to bottom,rgba(0,0,0,0), rgba(0,0,0,0.1));
    border-radius: 16px;
  }
  }
 */

 /* Screens up from 1200 px 
@media only screen and (min-width: 1200px) {
  
.card {
  width: 90%;
  height: 200%;
  margin: 7em auto;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.145);
  border-radius: 16px;
  background-color: rgba(255, 255, 255, .15);
  backdrop-filter: blur(100px);
}
.card article .box {
    float: right;
    text-align: center;
    margin: 1em 1em;
    padding-top: 2em;
    padding-bottom: 2em;
    min-height: 70%;
    min-width:70%;
    opacity: 0.9;
    border-radius: 16px;
    border: 1px solid rgba(255, 255, 255, 0.145);
}



footer p {
    text-align: right;
    font-size: 1.5em;
    line-height:0%;
}
.card article p {
    float: none;
    min-width: 20%;
    padding-top: 10%;
    margin-left: 5%;
    margin-top: 0em;
  } 
