<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover"> 
    <title>Glass Curtain</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
</head>
<body draggable="false">
    <h1 draggable="false">Glass Curtain</h1>


    <div id="image-track" data-mouse-down-at="0" data-prev-percentage="0" draggable="false">
        {% for piece in pieces %}
            {% if piece.image_url1 %}
                <img class="image" src="{{ piece.image_url1 }}" draggable="false">
            {% endif %}
        {% endfor %}

        {% for piece in pieces %}
            {% if piece.image_url2 %}
                <img class="image" src="{{ piece.image_url2 }}" draggable="false">
            {% endif %}
        {% endfor %}

        {% for piece in pieces %}
            {% if piece.image_url3 %}
                <img class="image" src="{{ piece.image_url3 }}" draggable="false">
            {% endif %}
        {% endfor %}

        {% for piece in pieces %}
            {% if piece.image_url4 %}
                <img class="image" src="{{ piece.image_url4 }}" draggable="false">
            {% endif %}
        {% endfor %}
    </div>

    <div id="name-track" data-mouse-down-at="0" data-prev-percentage="0" draggable="false">
        {% for piece in pieces %}
            {% if piece.name %}
                <a href="/exhibit/{{piece.slug}}" class="nostyle" draggable="false"><p class="name" draggable="false">{{ piece.name }}</p></a>
            {% endif %}
        {% endfor %}

        {% for piece in pieces %}
            {% if piece.name %}    
            <a href="/exhibit/{{piece.slug}}" class="nostyle" draggable="false"><p class="name" draggable="false">{{ piece.name }}</p></a>
            {% endif %}
        {% endfor %}

        {% for piece in pieces %}
            {% if piece.name %}
                <a href="/exhibit/{{piece.slug}}" class="nostyle" draggable="false"><p class="name" draggable="false">{{ piece.name }}</p></a>
            {% endif %}
        {% endfor %}

        {% for piece in pieces %}
            {% if piece.name %}
                <a href="/exhibit/{{piece.slug}}" class="nostyle" draggable="false"><p class="name" draggable="false">{{ piece.name }}</p></a>
            {% endif %}
        {% endfor %}
    </div> 
    <footer draggable="false">
        <div class="footer-content" draggable="false">
            <a class="nostyle" class="footer_inner" href="/download" draggable="false">Download Exhibition Details</a>
        </div>
    </footer>
</body>


    <script src="/static/js/index.js"></script>    
</html>

